.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: none;
  color: var(--primary-color);
  font-size: var(--font-size-m);
}

.outline {
  border: 1px solid;
  padding: 12px 20px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  background: none;
  font-size: var(--font-size-m);
}
