.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.outline {
  border: 1px solid;
  border-color: var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  border: none;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.invertedBackground {
  border: none;
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}

.sizeL {
  font-size: var(--font-size-l);
  padding: var(--padding-l);
}

.sizeM {
  font-size: var(--font-size-m);
  padding: var(--padding-m);
}
