.app.dark {
  --bg-color: #07304d;
  --inverted-bg-color: #e0e0e0;

  --primary-color: #33d952;
  --secondary-color: #33d952;

  --inverted-primary-color: #04103f;
  --inverted-secondary-color: #75a4f1;
}