.app.light {
  --bg-color: #e0e0e0;
  --inverted-bg-color: #04103f;

  --primary-color: #04103f;
  --secondary-color: #2267d0;

  --inverted-primary-color: #0e5219;
  --inverted-secondary-color: #33d952;
}